<html>
    <head>
	<title>页面管理</title>
        <link ref="stylesheet" type="text/css" href="/static/easyui_themes/default/easyui.css">
	<link ref="stylesheet" type="text/css" href="/static/easyui_themes/icon.css">
	<script type="text/javascript" src="/static/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/jquery.ztree.core.min.js"></script>
	<script type="text/javascript" src="/static/pagemanage.js"></script>
    </head>	
    <body>
	<div style="width:300px; height:auto; float:left; display:inline;border:1px solid">
		<ul id='menutree' class='ztree'></ul>
	</div>
	<div style="width:300px; height:auto; float:left; display:inline;border:1px solid;margin-left:30px">
		<p id='menutitle'>空</p></br>
		<table></table>
	</div>
    </body>
</html>
